.article-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 200vw;
  margin-top: 19%;
  overflow-y: scroll;
  * {
    margin: 0;
  }
}

.most-recent-article-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 60%;
  border-radius: 10px;
  background-color: #363636;
}

.image-box {
  width: 100%;
  height: 30%;
  object-fit: contain;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 1 / 1;
    border-radius: 10px 10px 0px 0px;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}

.date-published {
  width: 100%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.source-author {
  width: 100%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-title {
  width: 100%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-description {
  width: 100%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}